In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving ChurnData.csv to ChurnData.csv

In [ ]:
df = pd.read_csv("ChurnData.csv")
df

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,55.0,44.0,24.0,83.0,1.0,23.0,0.0,1.0,0.0,17.35,...,0.0,0.0,0.0,1.0,0.0,2.854,3.199,4.419,3.0,0.0
196,34.0,23.0,3.0,24.0,1.0,7.0,0.0,1.0,0.0,6.00,...,0.0,0.0,1.0,1.0,0.0,1.792,3.332,3.178,3.0,0.0
197,6.0,32.0,10.0,47.0,1.0,10.0,0.0,1.0,0.0,3.85,...,0.0,0.0,1.0,1.0,0.0,1.348,3.168,3.850,3.0,0.0
198,24.0,30.0,0.0,25.0,4.0,5.0,0.0,1.0,1.0,8.70,...,1.0,1.0,1.0,1.0,1.0,2.163,3.866,3.219,4.0,1.0
199,61.0,50.0,16.0,190.0,2.0,22.0,1.0,1.0,1.0,16.85,...,0.0,1.0,0.0,0.0,1.0,2.824,3.240,5.247,2.0,0.0

In [ ]:
df.dtypes                                #checking the types of the data

tenure      float64
age         float64
address     float64
income      float64
ed          float64
employ      float64
equip       float64
callcard    float64
wireless    float64
longmon     float64
tollmon     float64
equipmon    float64
cardmon     float64
wiremon     float64
longten     float64
tollten     float64
cardten     float64
voice       float64
pager       float64
internet    float64
callwait    float64
confer      float64
ebill       float64
loglong     float64
logtoll     float64
lninc       float64
custcat     float64
churn       float64
dtype: object

In [ ]:
df.describe()                           #descibring the dataset using describing command

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
count,200.000000,200.000000,200.000000,200.000000,200.00000,200.00000,200.000000,200.000000,200.000000,200.00000,...,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,35.505000,41.165000,11.650000,75.130000,2.82500,10.22500,0.425000,0.705000,0.290000,11.78925,...,0.275000,0.440000,0.45500,0.460000,0.440000,2.193285,3.229185,3.951015,2.475000,0.290000
std,21.640971,13.076803,10.158419,128.430468,1.28555,8.95743,0.495584,0.457187,0.454901,9.88725,...,0.447635,0.497633,0.49922,0.499648,0.497633,0.731282,0.281019,0.752553,1.079445,0.454901
min,1.000000,19.000000,0.000000,9.000000,1.00000,0.00000,0.000000,0.000000,0.000000,1.10000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.095000,1.749000,2.197000,1.000000,0.000000
25%,16.750000,31.000000,3.000000,31.000000,2.00000,3.00000,0.000000,0.000000,0.000000,5.53750,...,0.000000,0.000000,0.00000,0.000000,0.000000,1.711750,3.226500,3.434000,2.000000,0.000000
50%,33.500000,40.000000,9.000000,48.000000,3.00000,7.50000,0.000000,1.000000,0.000000,8.25000,...,0.000000,0.000000,0.00000,0.000000,0.000000,2.110000,3.240000,3.871000,2.000000,0.000000
75%,55.250000,51.000000,18.000000,80.000000,4.00000,17.00000,1.000000,1.000000,1.000000,14.30000,...,1.000000,1.000000,1.00000,1.000000,1.000000,2.660000,3.240000,4.382000,3.000000,1.000000
max,72.000000,76.000000,48.000000,1668.000000,5.00000,44.00000,1.000000,1.000000,1.000000,62.30000,...,1.000000,1.000000,1.00000,1.000000,1.000000,4.132000,4.227000,7.419000,4.000000,1.000000

In [ ]:
df.isnull().sum()                           #checking if there is any null value

tenure      0
age         0
address     0
income      0
ed          0
employ      0
equip       0
callcard    0
wireless    0
longmon     0
tollmon     0
equipmon    0
cardmon     0
wiremon     0
longten     0
tollten     0
cardten     0
voice       0
pager       0
internet    0
callwait    0
confer      0
ebill       0
loglong     0
logtoll     0
lninc       0
custcat     0
churn       0
dtype: int64

#KNN MODEL

In [ ]:
X = df.drop("churn",1)
Y = df["churn"]

<ipython-input-8-fa6c844bffbc>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop("churn",1)

In [ ]:
corr = df.corr()                   #FINDING THE CORRELATION

In [ ]:
cor = abs(corr["churn"])

In [ ]:
features = cor[cor>=0.3]          #SELCETING RELEVENT FEATURES
features

tenure      0.376860
employ      0.337969
callcard    0.311451
loglong     0.336869
churn       1.000000
Name: churn, dtype: float64

In [ ]:
x = df[['tenure','employ','callcard','loglong','churn']]                    #selcting features of the model that are helping to predict the accuracy

In [ ]:
x

     tenure  employ  callcard  loglong  churn
0      11.0     5.0       1.0    1.482    1.0
1      33.0     0.0       0.0    2.246    1.0
2      23.0     2.0       0.0    1.841    0.0
3      38.0    10.0       1.0    1.800    0.0
4       7.0    15.0       1.0    1.960    0.0
..      ...     ...       ...      ...    ...
195    55.0    23.0       1.0    2.854    0.0
196    34.0     7.0       1.0    1.792    0.0
197     6.0    10.0       1.0    1.348    0.0
198    24.0     5.0       1.0    2.163    1.0
199    61.0    22.0       1.0    2.824    0.0

[200 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split                                #importing the file for the train and test set of the dataset

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( x, Y, test_size=0.2)                #TRAINIG AND TESTING THE DATASET

In [ ]:
print ('Train set:', X_train.shape, y_train.shape)                     #printing the values of the traing set and test set
print ('Test set:', X_test.shape, y_test.shape)

Train set: (160, 5) (160,)
Test set: (40, 5) (40,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier              #from sklearn importing the kneighbours classifier

In [ ]:
k = 3
n = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
n

KNeighborsClassifier(n_neighbors=3)

In [ ]:
yhat = n.predict(X_test)                        #PREDICTING THE TEST SET

In [ ]:
from sklearn import metrics

In [ ]:
print("Train set Accuracy: ", metrics.accuracy_score(y_train, n.predict(X_train)))                            #CALCULATING THE ACCURACY OF THE MODEL
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.86875
Test set Accuracy:  0.8

#LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression                     #for logistinc regression importing the file from sklearn

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( x, Y, test_size=0.22)              #train and testing the dataset

In [ ]:
print ('Train set:', X_train.shape, y_train.shape)
print ('Test set:', X_test.shape, y_test.shape)

Train set: (156, 5) (156,)
Test set: (44, 5) (44,)

In [ ]:
yhat = n.predict(X_test)

In [ ]:
LR = LogisticRegression().fit(X_train,y_train)                        #fiting the logistic model

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn import metrics

In [ ]:
print("TRain set accuracy:", metrics.accuracy_score(y_train, LR.predict(X_train)))               #calculating the accuracy of the logistic regression
print("TRain set accuracy:", metrics.accuracy_score(y_test, yhat))

TRain set accuracy: 1.0
TRain set accuracy: 0.9318181818181818