In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving teleCust1000t.csv to teleCust1000t.csv

In [ ]:
df = pd.read_csv("teleCust1000t.csv")
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

In [ ]:
X = df.drop("custcat",1)
Y = df["custcat"]

<ipython-input-4-dc91ebd693e0>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop("custcat",1)

In [ ]:
corr=df.corr()
cor_custcat = abs(corr["custcat"])
relevant_features = cor_custcat[cor_custcat>=0.1]
relevant_features

tenure     0.166691
income     0.134525
ed         0.193864
employ     0.110011
custcat    1.000000
Name: custcat, dtype: float64

In [ ]:
X_new = df[['tenure','income','employ','age','region','custcat']]
X_new

     tenure  income  employ  age  region  custcat
0        13    64.0       5   44       2        1
1        11   136.0       5   33       3        4
2        68   116.0      29   52       3        3
3        33    33.0       0   33       2        1
4        23    30.0       2   30       2        3
..      ...     ...     ...  ...     ...      ...
995      10    27.0       0   39       3        1
996       7    22.0       5   34       1        1
997      67   944.0      33   59       3        4
998      70    87.0      22   49       3        3
999      50    39.0       3   36       3        2

[1000 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X_new, Y, test_size=0.3)
print ('Train set:', X_train.shape, y_train.shape)
print ('Test set:', X_test.shape, y_test.shape)

Train set: (700, 6) (700,)
Test set: (300, 6) (300,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression().fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
yhat = LR.predict(X_test)
yhat

array([1, 1, 4, 3, 1, 3, 3, 3, 3, 2, 1, 1, 4, 4, 2, 2, 2, 4, 1, 2, 1, 4,
       2, 2, 4, 1, 2, 2, 3, 1, 2, 2, 1, 1, 2, 2, 4, 4, 4, 4, 1, 2, 4, 3,
       4, 2, 1, 1, 4, 4, 4, 3, 4, 3, 4, 4, 4, 1, 2, 2, 3, 1, 3, 2, 2, 1,
       2, 3, 2, 1, 3, 3, 2, 4, 1, 1, 1, 1, 1, 2, 3, 1, 1, 4, 3, 3, 3, 4,
       2, 3, 2, 1, 3, 4, 3, 1, 2, 1, 3, 1, 4, 4, 1, 4, 4, 1, 3, 3, 3, 3,
       3, 1, 3, 3, 4, 3, 2, 4, 2, 2, 2, 1, 2, 2, 2, 4, 1, 1, 3, 3, 4, 2,
       4, 2, 1, 2, 3, 2, 2, 4, 4, 1, 3, 1, 4, 1, 2, 4, 3, 3, 3, 1, 4, 2,
       4, 1, 3, 3, 3, 3, 1, 1, 1, 3, 1, 4, 3, 3, 1, 4, 4, 3, 4, 1, 3, 2,
       3, 4, 3, 2, 2, 3, 1, 2, 1, 4, 3, 4, 4, 4, 3, 1, 4, 2, 3, 4, 4, 2,
       4, 2, 1, 3, 1, 4, 1, 2, 2, 2, 4, 3, 4, 1, 4, 1, 4, 3, 3, 4, 3, 2,
       2, 4, 4, 2, 1, 3, 4, 4, 2, 3, 4, 3, 3, 3, 4, 1, 3, 4, 1, 1, 1, 1,
       2, 2, 2, 1, 1, 3, 3, 4, 4, 2, 4, 3, 4, 3, 4, 1, 4, 1, 3, 1, 1, 2,
       3, 1, 4, 4, 3, 1, 2, 4, 1, 3, 3, 3, 4, 3, 3, 4, 4, 1, 1, 1, 4, 1,
       1, 1, 4, 4, 4, 1, 3, 4, 3, 4, 4, 3, 1, 3])

In [ ]:
from sklearn.metrics import accuracy_score

from sklearn import metrics

In [ ]:
print("Train set Accuracy: ", metrics.accuracy_score(y_train, LR.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.7485714285714286
Test set Accuracy:  0.7533333333333333

#KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
k = 15
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=15)

In [ ]:
from sklearn import metrics

In [ ]:
yhat = neigh.predict(X_test)

In [ ]:
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.45285714285714285
Test set Accuracy:  0.33666666666666667

#social dataset

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [ ]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df['Gender'].replace(['Male', 'Female'],
[0, 1], inplace=True)

In [ ]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       0   19            19000          0
1    15810944       0   35            20000          0
2    15668575       1   26            43000          0
3    15603246       1   27            57000          0
4    15804002       0   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

[400 rows x 5 columns]

In [ ]:
X = df.drop("Purchased",1)
Y = df["Purchased"]

<ipython-input-103-fa36d79ebcfd>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop("Purchased",1)

In [ ]:
corr=df.corr()
cor_custcat = abs(corr["Purchased"])
relevant_features = cor_custcat[cor_custcat>=0.1]
relevant_features

Age                0.622454
EstimatedSalary    0.362083
Purchased          1.000000
Name: Purchased, dtype: float64

In [ ]:
X_new = df[['Gender','Age','EstimatedSalary','Purchased']]
X_new

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X_new, Y, test_size=0.3)
print ('Train set:', X_train.shape, y_train.shape)
print ('Test set:', X_test.shape, y_test.shape)

Train set: (280, 4) (280,)
Test set: (120, 4) (120,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression().fit(X_train,y_train)

In [ ]:
yhat = LR.predict(X_test)
yhat

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score

from sklearn import metrics

In [ ]:
print("Train set Accuracy: ", metrics.accuracy_score(y_train, LR.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.6321428571428571
Test set Accuracy:  0.6666666666666666

#KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
k = 3
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=15)

In [ ]:
from sklearn import metrics

In [ ]:
yhat = neigh.predict(X_test)

In [ ]:
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.8607142857142858
Test set Accuracy:  0.8166666666666667