In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn import tree
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Social_Network_Ads (1).csv to Social_Network_Ads (1).csv

In [ ]:
df = pd.read_csv("Social_Network_Ads (1).csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
X = df.drop("Purchased",1)
Y = df["Purchased"]

<ipython-input-6-fa36d79ebcfd>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop("Purchased",1)

In [ ]:
df = df.drop("User ID", axis=1)

In [ ]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
df["Gender"] = df["Gender"].replace({"Male": 0, "Female": 1})

In [ ]:
df

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=40)

In [ ]:
import pandas as pd
import tensorflow as tf

In [ ]:
model = tf.keras.models.Sequential([
tf.keras.layers.Dense(64, input_shape=(13,), activation='relu'),
tf.keras.layers.Dense(52, activation='relu'),
tf.keras.layers.Dense(20, activation='relu'),
tf.keras.layers.Dense(1, activation='sigmoid')
])

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
corr=df.corr()
cor_target = abs(corr["Purchased"])
relevant_features = cor_target[cor_target>=0.35]
relevant_features

Age                0.622454
EstimatedSalary    0.362083
Purchased          1.000000
Name: Purchased, dtype: float64

In [ ]:
history=model.fit(X_train, y_train, epochs=250, batch_size=100, validation_data=(X_test, y_test))

ValueError: ignored